

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 5px;
    padding: 10px 15px ;
    font-size: 1.1rem;
    font-weight: bold;
    /* line-height: 2; */
    /* letter-spacing: 1px; */
}

.form  input {
    /* height: 50px; */
    border: 3px solid  var(--two);
    width: 60%;
}

.form  button {
    height: 40px;
    background-color: var(--three);
    color: white;
    font-size: 1.2rem;
    border: 1px solid rgb(247, 242, 242);
}
.form button:hover{
    opacity: 0.7;
    cursor: pointer;
}
.form p {
    /* text-align: center; */
}

.inputs {
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, var(--one) 21%,
    var(--one) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, var(--one) 21%,var(--three)34%, transparent 35%, transparent) 0 -50px;

    background-size: 75px 100px;
    background-color: var(--two);
    padding: 10px 5px;
    box-shadow: 0 5px 8px rgb(66, 66, 66);
    
}
@media(min-width:700px){
    .form button{
    /* width: 100px; */

    }
    .form input {
        width: 200px;
    }
    .form {
        width: 700px;
    }
}
@media(max-width:600px){
    .form {
        width: 90%;
        margin-top: 65px;
    }
}
