

.form {
    display: flex;flex-direction: column;
    justify-content: center;
    position: absolute;
    background: radial-gradient(var(--one)50%,var(--three));
    margin: 0 auto;
    padding: 10px 10px 15px;
    right: 20%;
    left: 20%;
    max-width: 500px;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgb(7, 7, 7);
    top: 25vh;
    letter-spacing: 2px;
    z-index: 100;
}

.form input,label p {
    margin: 10px 0px 10px;
    padding: 5px 10px 5px;
    border: 3px solid var(--three);
    line-height: 2;
 
}
.form input:hover,label:hover, p:hover {
    opacity: 0.8;
}

.form input[type=submit] {
    background-color: var(--five);
    color: white;
    border: 1px solid var(--one);
    font-size: 1.2rem;
    text-align: center;
    width: 100px;
}
.form input[type=submit]:hover {
    cursor: pointer;
}
.form label , h1{
    font-family: 'Merriweather', serif;
    /* color: var(--three); */
}
.form a {
    color: black;
    margin: 20px ;
    text-align: center;
}
.form span{
    cursor: pointer;
    margin-left: 2px;
    /* text-align: center; */
}
.form span:hover{
    opacity: 0.7;
}