

.rank {
    position: relative;
    justify-content: center;
    text-align: center;
    margin: 20px  auto 15px; 
    font-family: 'Montserrat', sans-serif;
    color: white;
    word-spacing: 5px;
}
.rank span {
    background-color:var(--two);
    padding: 5px;
}
@media(max-width:500px){
    .rank{
        top: 12vh;
    }
}