
.face {
    /* background-color: pink; */
    display: flex;
    justify-content: center;
    margin: 0px auto;
    overflow-x: hidden;
    /* max-width: 700px; */
    /* max-height: 400px; */
}

.bounding_boxes {
    position: absolute;
    box-shadow: 0 0 0 3px #149df2 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
 
}

@media(max-width:600px){
    .face img {
        width: 300px;
        /* margin-top: -100px; */
    }
}
