
.App {
  /* text-align: center; */
  background: linear-gradient(90deg ,rgb(67, 138, 245), rgb(186, 186, 218),rgb(57, 165, 236));
  height: 100vh;
}


.App-header {
 
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

