
.App {
  background: linear-gradient(90deg ,var(--three),var(--one),var(--five));
  font-family: 'Merriweather', serif;
  height: 150vh;
}



.particles {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

